
.dashboard {
  display: flex;
  
  height: 99vh;
  background: #f6f6f6;
}
/* 
/* Sidebar */


/* Main Content */
.main-content {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  background-color: white;
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  
}

/* ===== Add User Section ===== */

.add-user-box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 8rem;
  background: #b8ebef;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  max-width: 400px;
}

.add-user-box h3 {
  margin-bottom: 15px;
}

.add-user-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.add-user-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.add-user-box button:hover {
  background: #1e40af;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

/* Sidebar stays the same */
.sidebar {
  width: 220px;
  height: 94.5vh;
  background: #1e293b;
  color: white;
  padding: 20px;
  cursor: pointer;
  position: relative;
}


/* ================= RESPONSIVE ONLY ================= */

/* Tablet */
@media (max-width: 1024px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    transition: left 0.3s ease-in-out;
  }

  .chart-box {
    flex-direction: column;
    align-items: center;
  }

  .chart-title {
    width: 90%;
  }
}
/* Slide Sidebar from Left */
@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;   /* hidden */
    height: 100vh;
    width: 220px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;       /* visible */
  }
}


/* Mobile */
@media (max-width: 768px) {
  .dashboard {
    height: 110vh;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }

  .chart-box {
    flex-direction: column;
    gap: 20px;
  }

  .chart-title {
    width: 100%;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
    .main-content {
      padding: 10px;
      
    }

  form, .first {
    width: 100%;
  }

  .card p {
    font-size: 20px;
  }

  ul li {
    font-size: 12px;
  }
}


.chart-box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.piedata{
  text-align: center;
}
