body, html {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background: #0f172a;
}
.dashboard {
  display: flex;
  height: 99vh;
  background: #f6f6f6;
}
/* 
/* Sidebar */


/* Main Content */
.main-content {
  padding: 20px;
  width: 400hv; /* Subtract sidebar width */
  background-color: white;
  
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

/* Sidebar stays the same */
.sidebar {
  width: 220px;
  height: 94.5vh;
  background: #1e293b;
  color: white;
  padding: 20px;
  cursor: pointer;
  position: relative;
}


/* ================= RESPONSIVE ONLY ================= */

/* Tablet */
@media (max-width: 1024px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .chart-box {
    flex-direction: column;
    align-items: center;
  }

  .chart-title {
    width: 90%;
  }
}
/* Slide Sidebar from Left */
@media (max-width: 768px) {

  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;   /* hidden */
    height: 100vh;
    width: 220px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;       /* visible */
  }
}


/* Mobile */
@media (max-width: 768px) {
  .dashboard {
    height: 200vh;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }

  .chart-box {
    flex-direction: column;
    gap: 20px;
  }

  .chart-title {
    width: 100%;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .main-content {
    padding: 10px;
    
  }

  form, .first {
    width: 100%;
  }

  .card p {
    font-size: 20px;
  }

  ul li {
    font-size: 12px;
  }
}


.chart-box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.piedata{
  text-align: center;
}
.chart-title {
  width: 300px;
}
