body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  
  background: #0f172a;
}
.dashboards{
  background-color: white;
  display: flex;
}
.pending-container {
  padding: 20px;
  max-width: 790px;
  
  
}
.pending-title{
    text-align: center;
    
}

.loading-text {
  text-align: center;
}

.empty-box {
  padding: 50px;
  text-align: center;
}

.empty-sub {
  font-size: 14px;
}

.task-list {
  list-style: none;
  width: 790px;
  
}

.task-card {
  padding: 12px;
  margin: 10px 0;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  border-left: 5px solid #fff;
}

.task-datetime {
  font-size: 13px;
  
}

.task-desc {
  font-size: 15px;
  
}

.task-actions {
  display: flex;
  gap: 10px;
}

.btn-complete {
  background: green;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .dashboards {
    width:74%;
    margin-left: 4rem;
    height: 700px;
    position: relative;
    
  }

  .pending-container {
    width: 88.3%;

  }

  .pending-title {
    font-size: 18px;
  }

  .task-list {
    width: 100%;
  }

  .task-card {
    padding: 10px;
    font-size: 13px;
  }

  .task-datetime {
    font-size: 12px;
  }

  .task-desc {
    font-size: 14px;
  }

  .task-actions {
    flex-direction: column;
    

  }

  .btn-complete,
  .btn-delete {
    width: 100%;
    padding:8px;
    font-size: 13px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .dashboard {
    width: 100%;
  }

  .pending-container {
    max-width: 100%;
  }

  .task-list {
    width: 100%;
  }

  .task-card {
    font-size: 10px;
  }

  .task-actions {
    flex-wrap: wrap;
    gap: 8px;
  }
}
